/*********************
    HOME PAGE
**********************/
.home {
    background-image:
    linear-gradient(
     rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.3)
     ),
    url('photos/profile.jpg');
    background-size: cover;
    background-position: center;
   /* height: 100vh;*/ /* FIX */
}

.navbar {
    font-family: 'Spinnaker', sans-serif;
}

.helloworld {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    font-family: 'Spinnaker', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.aboutme {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Spinnaker', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.layer {
    background-color:white;
    height:20px;
}

footer{
    height:100px;
    background-color:#021E24;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;

    font-family: 'Spinnaker', sans-serif;

}

/*********************
    EDUCATION PAGE
**********************/
.edu {
    background-image: url('photos/ny2.jpg');
}

.title {
    font-size: 20px;
    background-color:#E6F6FB;
    font-family: 'Spinnaker', sans-serif;
    padding: 25px;
    letter-spacing: 7px;
    border-radius: 25px;
    position: absolute;

}

.words {
    padding: 40px;
    color: black;
    background-color: #E6F6FB;
    font-family: 'Spinnaker', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
}


.neu {
    background-image: url('photos/nu.jpg');
}

.stuy {
    background-image: url('photos/stuy.jpg');
}

.edu, .neu, .stuy, .leadership, .volunteer {
    width:auto;
    height: auto;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 210px;
}


/*********************************
    LEADERSHIP/VOLUNTEER PAGE
**********************************/

.leadership {
    background-image: url('photos/nuwit.jpg');
    background-size: 100% 100%;
}

.volunteer {
    background-image: url('photos/gwc.jpg');
}
