/*
.parallaxE {
    background-image: url('#');

    height: 100%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.home {
	background-image: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.2),
	      rgba(0, 0, 0, 0.2)
	    ),
	    url('photos/profile.jpg');
  	background-size: cover;
  	height: 100vh;

}

.navbar {
    font-family: 'Spinnaker', sans-serif;
    margin-bottom: 0;
}

.aboutme { font-family: 'Spinnaker', sans-serif; text-shadow: 2px 2px 4px #000000;}

.layer {
    background-color:#e3f2fd;
    height:20px;
}

footer{
    height:100px;
    background-color:#021E24;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;

    font-family: 'Spinnaker', sans-serif;
}

